@model IEnumerable<ElliotBrownFordAssignment03ForHttp5112.Models.Teacher>
@{
    ViewBag.Title = "List";
}



<div id="containerlist">
    <h2>List Of Teachers</h2>
    <form action="/Teacher/List" method="GET">
        <input type="text" name="searchKeyForName" />
        <input type="submit" value="Search" />
    </form>
    <a class="navlink" href="/Teacher/New">Add a New Teacher</a>
    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>

        </div>
    }

</div>