
@{
    ViewBag.Title = "New";
}

<h2>New Teacher</h2>
<form method="POST" action="/Teacher/Create">
<div>
    <label for="TeacherFname">First Name:</label>
    <input type="text" name="TeacherFname" />
</div>
<div>
    <label for="TeacherLname">Last Name:</label>
    <input type="text" name="TeacherLname" />
</div>

<div>
    <label for="EmployeeNumber">Employee Number:</label>
    <input type="text" name="EmployeeNumber" />
</div>

<div>
    <label for="Hiredate">Hire Date:</label>
    <input type="datetime" name="Hiredate" />
</div>

<div>
    <label for="Salary">Salary:</label>
    <input type="number" step="any" name="Salary" />
</div>
<div>
    <input type="submit" value="Create Teacher" />
</div>
</form>
