@model ElliotBrownFordAssignment03ForHttp5112.Models.Classes
@{
    ViewBag.Title = "Show";
}

<a class="navlink" href="/Classes/List">Back To Classes</a>
<h2>Show Teacher</h2>
Class Code and Name: @Model.ClassCode @Model.ClassName 
<br />
Class Start Date: @Model.StartDate
<br />
Class End Date: @Model.FinishDate


